html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    font-weight: 200;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    margin-top: 14rem;
}

hr {
    width: 20%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

section article {
    display: block;
    width: 40%;
    margin: 0 auto;
}

section article h3 {
    text-align: center;
    font-family: lato, sans-serif;
    margin-bottom: 3rem;
    font-weight: 400;
}

section article h3 {
    margin-top: 6rem;
}

section article .view-info {
    display: block;
    font-size: 0;
    background-color: rgba(47, 47, 47, 1.0);
    margin-top: -4px;
}

section article .view-info .view-icon {
    width: 10%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 1rem;
    background-color: #5a74ff;
}

section article .view-info .view-icon img {
    width: 16px;
}

section article .view-info .view-icon img.rotate {
    width: 16px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

section article .view-info h4 {
    font-family: lato, sans-serif;
    font-weight: 500;
    width: 90%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 1rem;
    color: rgba(242, 242, 242, 1.0);
    letter-spacing: .1rem;
}

section article .blog-content {
    margin: 4rem 0rem;
}

section article .blog-content p {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: lato;
    font-weight: 200;
    line-height: 1.6rem;
    margin-top: 2rem
}

section article .image-holder img {
    width: 100%;
    height: auto;
}

footer {
    background-color: rgba(47, 47, 47, 1.00);
    color: rgba(242, 242, 242, 1.0);
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    margin-top: 6rem
}

@media only screen and (max-width: 1024px) {
    h2 {
        margin-top: 10rem;
    }

    section article {
        width: 60%;
    }

    section article .view-info h4 {
        width: 100%;
        display: block;
    }

    section article .view-info .view-icon {
        display: block;
        width: 100%;
        padding: .6rem;
    }
}

@media only screen and (max-width: 480px) {
    section article {
        width: 90%;
    }

    h2 {
        margin-top: 10rem;
    }
}
